name: Docker

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: ubuntu-22.04
      context:
        required: false
        type: string
        default: ./
      dockerfile:
        required: false
        type: string
        default: ./Dockerfile
      target:
        required: false
        type: string
        default: ""
      suffix:
        required: false
        type: string
        default: ""

jobs:
  docker:
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Login to Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ghcr.io
          username: x-oauth-token
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Get Image Tag
        id: tag
        env:
          DOCKER_BUILDKIT: "1"
          TARGET: ${{ inputs.target }}
          SUFFIX: ${{ inputs.suffix }}
        run: |
          tag="ghcr.io/$GITHUB_REPOSITORY"
          if [ -n "$SUFFIX" ]; then
            tag="$tag/$SUFFIX"
          fi
          if [ -n "$TARGET" ]; then
            tag="$tag/$TARGET"
          fi
          tag="$tag:$GITHUB_SHA"
          echo "::set-output name=tag::$tag"
          echo "$tag"
      - name: Build Image
        env:
          DOCKER_BUILDKIT: "1"
          DOCKERFILE: ${{ inputs.dockerfile }}
          TARGET: ${{ inputs.target }}
          CONTEXT: ${{ inputs.context }}
          TAG: ${{ steps.tag.outputs.tag }}
        run: docker build --tag "$TAG" --file "$DOCKERFILE" --target "$TARGET" "$CONTEXT"
      - name: Push Image
        env:
          TAG: ${{ steps.tag.outputs.tag }}
        run: docker push "$TAG"
