name: Helm

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: internal
      chart:
        required: false
        type: string
        default: ./helm/
      clusters:
        required: false
        type: string
    secrets:
      configuration:
        required: false

jobs:
  helm:
    runs-on: ${{ inputs.runs-on }}
    permissions:
      contents: read
      deployments: write
      id-token: write
    steps:
      - name: Update Deployment Status
        uses: chrisgavin/update-deployment-action@f579de2aa4c4fba051891d2869154b347e3428a1
        if: ${{ github.event_name == 'deployment' }}
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Check
        uses: pxdio/kubernetes-deploy-action@c6e52eefd058da7c99341f3f7fe8b0db49da88fc
        if: ${{ github.event_name != 'deployment' }}
        with:
          resources: ${{ inputs.chart }}
      - name: Setup Kubernetes CLI
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
      - name: Setup Clusters
        uses: pxdio/kubernetes-setup-action@e7a5b79b123d0aa649c9a6ce7658268ab4836a64
        if: ${{ github.event_name == 'deployment' }}
      - name: Deploy
        uses: pxdio/kubernetes-deploy-action@c6e52eefd058da7c99341f3f7fe8b0db49da88fc
        if: ${{ github.event_name == 'deployment' }}
        with:
          configuration: ${{ secrets.configuration }}
          clusters: ${{ inputs.clusters }}
          resources: ${{ inputs.chart }}
